on:
  schedule:
    - cron: '0 12 * * *' # https://crontab.guru/#0_12_*_*_* "At 12:00."
  workflow_dispatch: # allows manual triggering of the workflow

jobs:
  run:
    name: 'autoupdate > run'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Checkout code'
        uses: 'actions/checkout@v6'

      - name: 'Download Autoupdate'
        run: curl -fsSL https://raw.githubusercontent.com/rios0rios0/autoupdate/main/install.sh | sh -s -- --install-dir . --force

      - name: 'Run Autoupdate'
        run: ./autoupdate run
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
