on:
  schedule:
    - cron: '0 11 * * *' # https://crontab.guru/#0_11_*_*_* "At 11:00 (8am BRT)."
  workflow_dispatch: # allows manual triggering of the workflow

jobs:
  run:
    name: 'autoupdate > run'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Checkout code'
        uses: 'actions/checkout@v6'

      - name: 'Download Autoupdate'
        run: curl -fsSL https://raw.githubusercontent.com/rios0rios0/autoupdate/main/install.sh | sh -s -- --install-dir . --force

      - name: 'Run Autoupdate'
        run: ./autoupdate run
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
